<div class="col-md-12 contacts">
    <div>If you ever find yourself in Bucharest and have interesting ideas, let's have a bear ... or a beer. Cool with
        us, we got both!
    </div>
    <div class="row">
        <p class="col-sm-2 field-name">Email:</p>

        <p class="col-md-10 field-value">contact@alphaappers.com</p>
    </div>
    <div class="row">
        <p class="col-sm-2 field-name">Mobile:</p>

        <p class="col-md-10 field-value">+40 743 752 781</p>
    </div>
    <div class="row">
        <p class="col-sm-2 field-name"></p>

        <p class="col-md-10 field-value">+40 754 761 985</p>
    </div>
</div>