<div class="col-md-12 projects">

    <div class="row">
        <div class="col-md-3 ">
            <div class="row">
                <img src="../images/ofertamea_logo.png">
            </div>
            <div class="row">
                <div class="col-md-4 platform"><a
                        href="https://play.google.com/store/apps/details?id=com.alphaappers.ofertamea" target="_blank">
                    Android
                </a></div>
                <div class="col-md-4 platform"><a
                        href="https://play.google.com/store/apps/details?id=com.alphaappers.ofertamea" target="_blank">
                    iOS
                </a></div>
                <div class="col-md-4 platform">
                    <a href="http://alphaappers.com/ofertamea/app" target="_blank">
                        Web
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9 description ofertamea"><p>
            Aplicația OfertaMea iți oferă acces la cea mai variată gamă de cataloage promoționale.</p>

            <p>
                Redefinește modul în care te ții la curent cu ultimele oferte ale magazinelor tale preferate.</p>

            <p>
                Prin OfertaMea, cu o simplă atingere, poți citi digital cele mai noi cataloage promoționale într-un mod
                modern și ușor în incinta casei tale, când ești pe drum sau chiar la cumpărături.</p>
        </div>
    </div>

    <!--<div class="col-md-4 platform android">-->
    <!--<div class="row">Android</div>-->
    <!--<div class="col-md-offset-2 col-md-8"></div>-->
    <!--</div>-->
    <!--<div class="col-md-4 platform ios">-->
    <!--<div class="row">iOS</div>-->
    <!--<div class="col-md-offset-2 col-md-8"></div>-->
    <!--</div>-->
    <!--<div class="col-md-4 platform web">-->
    <!--<div class="row">Web</div>-->
    <!--<div class="col-md-offset-2 col-md-8"></div>-->
    <!--</div>-->

</div>